<a href="https://colab.research.google.com/github/mariafernandamr/MariaFernanda-DataVisualization2023/blob/main/02_Python_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. What is a variable?**

A variable is a `container`, in the sense that it *stores* values.

# **2. Declaration**

In [ ]:
# Example

a = 2.57
print(a)

2.57

In [ ]:
#Example
num = 3.14195687246
pi  = 0
pf  = 7

print('The approximation of',num, 'with:')
print('Decimals','Result')
for i in range(pi,pf+1): 
  print(i, '\t', round(num,i))

The approximation of 3.14195687246 with:
Decimals Result
0 	 3.0
1 	 3.1
2 	 3.14
3 	 3.142
4 	 3.142
5 	 3.14196
6 	 3.141957
7 	 3.1419569

In [ ]:
# Example

x = y = z = 45
print(x,y,z)

45 45 45

In [ ]:
# Example - replace values

z = 17

# **3. Delete and Clear**

In [ ]:
# Example - delete

del x, y

In [ ]:
# Example - clear

%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

# **4. Naming**

## 4.1. Conditions and restrictions

In [ ]:
# Example - always a name of variable must start with a letter

age = 18

## 4.2. Best practices

* Case sensitive

In [ ]:
# Example

Age = 78
AGE = 23

# Sug: always use lower case.

* Compound names

In [ ]:
# Example

price_jean = 150000

# **5. Data types**

## 5.1. Integers

## 5.2. Float

**Parenthesis**: A trick

In [ ]:
# Example -set up

w = 0

In [ ]:
# Example

w += -2
print(w)

-4

## 5.3. Strings

In [ ]:
# Example

name = 'Universidad de La Salle'
print(name)

Universidad de La Salle

In [ ]:
name[-2]

'l'

In [ ]:
name[0:11]

'Universidad'

In [ ]:
name.split()[0]

'Universidad'

## 5.4. Booleans

These strings variables but whit a very specific text: **True** or **False**

In [7]:
# Example

raining = True
daytime = False
raining = daytime

**BOOLEAN EXPRESSIONS**

In [12]:
# Example

x = 5 
y = 7 

print('is x less equal to y?' , x == y)
print('is x less than  y?' , x < y)
print('is x greater than y?' , x > y)
print('is x NOT equal y?' , x != y)

is x less equal to y? False
is x less than  y? True
is x greater than y? False
is x NOT equal y? True